<!-- <p>star-wars-table works!</p> -->

<div>
    <label class="label">Please select:</label> 
    <br/>
    <!-- <p>{{tableName}}</p> -->
    <!-- <input type="text" placeholder="Table Name" [(ngModel)]="tableName">
    <button (click)="showTable()">Go</button> -->
    <select (change)="showTable($event)">
        <option value="Default">--Default--</option>
        <option value="People">People</option>
        <option value="Films">Films</option>
        <option value="Planets">Planets</option>
        <option value="Species">Species</option>
        <option value="Vehicles">Vehicles</option>
        <option value="Starships">Starships</option>
    </select>
</div>
    <!-- [routerLink]="['../star-wars-table']" -->
<hr>

<div *ngIf="tableName === 'People'" class="tablePeople">
    <h1>All People</h1>
    <table class="table table-hover table-bordered">
        <thead class="thead-dark">
            <th>Name</th>
            <th>Height</th>
            <th>Mass</th>
            <th>Hair Color</th>
            <th>Skin Color</th>
            <th>Eye Color</th>
            <th>Birth Year</th>
            <th>Gender</th>
        </thead>
        <tbody>
            <tr *ngFor="let p of people">
                <td>{{p.name}}</td>
                <td>{{p.height}}</td>
                <td>{{p.mass}}</td>
                <td>{{p.hair_color}}</td>
                <td>{{p.skin_color}}</td>
                <td>{{p.eye_color}}</td>
                <td>{{p.birth_year}}</td>
                <td>{{p.gender}}</td>
            </tr>
        </tbody>
    </table>
</div>

<br/>

<div *ngIf="tableName === 'Planets'" class="tablePlanets">
    <h1>All Planets</h1>
    <table class="table table-hover table-bordered">
        <thead class="thead-dark">
            <th>Name</th>
            <th>Rotation Period</th>
            <th>Orbital Period</th>
            <th>Diameter</th>
            <th>Climate</th>
            <th>Gravity</th>
            <th>Terrain</th>
            <th>Surface Water</th>
            <th>Population</th>
        </thead>
        <tbody>
            <tr *ngFor="let planet of planets">
                <td>{{planet.name}}</td>
                <td>{{planet.rotation_period}}</td>
                <td>{{planet.orbital_period}}</td>
                <td>{{planet.diameter}}</td>
                <td>{{planet.climate}}</td>
                <td>{{planet.gravity}}</td>
                <td>{{planet.terrain}}</td>
                <td>{{planet.surface_water}}</td>
                <td>{{planet.population}}</td>
            </tr>
        </tbody>
    </table>
</div>

<br/>

<div *ngIf="tableName === 'Films'" class="tableFilms">
    <h1>All Films</h1>
    <table class="table table-hover table-bordered">
        <thead class="thead-dark">
            <th>Title</th>
            <th>Episode ID</th>
            <th>Opening Crawl</th>
            <th>Director</th>
            <th>Producer</th>
            <th>Release Date</th>
        </thead>
        <tbody>
            <tr *ngFor="let f of films">
                <td>{{f.title}}</td>
                <td>{{f.episode_id}}</td>
                <td>{{f.opening_crawl}}</td>
                <td>{{f.director}}</td>
                <td>{{f.producer}}</td>
                <td>{{f.release_date}}</td>
            </tr>
        </tbody>
    </table>
</div>

<br/>

<div *ngIf="tableName === 'Species'" class="tableSpecies">
    <h1>All Species</h1>
    <table class="table table-hover table-bordered">
        <thead class="thead-dark">
            <th>Name</th>
            <th>Classification</th>
            <th>Designation</th>
            <th>Average Height</th>
            <th>Skin Colors</th>
            <th>Hair Colors</th>
            <th>Eye Colors</th>
            <th>Average Lifespan</th>
            <th>Language</th>
        </thead>
        <tbody>
            <tr *ngFor="let sp of species">
                <td>{{sp.name}}</td>
                <td>{{sp.classification}}</td>
                <td>{{sp.designation}}</td>
                <td>{{sp.average_height}}</td>
                <td>{{sp.skin_colors}}</td>
                <td>{{sp.hair_colors}}</td>
                <td>{{sp.eye_colors}}</td>
                <td>{{sp.average_lifespan}}</td>
                <td>{{sp.language}}</td>
            </tr>
        </tbody>
    </table>
</div>

<br/>

<div *ngIf="tableName === 'Vehicles'" class="tableVehicles">
    <h1>All Vehicles</h1>
    <table class="table table-hover table-bordered">
        <thead class="thead-dark">
            <th>Name</th>
            <th>Model</th>
            <th>Vehicle Class</th>
            <th>Cost in Credits</th>
            <th>Length</th>
            <th>Max Atmosphering Speed</th>
            <th>Crew</th>
            <th>Passengers</th>
            <th>Pilots</th>
        </thead>
        <tbody>
            <tr *ngFor="let v of vehicles">
                <td>{{v.name}}</td>
                <td>{{v.model}}</td>
                <td>{{v.vehicle_class}}</td>
                <td>{{v.cost_in_credits}}</td>
                <td>{{v.length}}</td>
                <td>{{v.max_atmosphering_speed}}</td>
                <td>{{v.crew}}</td>
                <td>{{v.passengers}}</td>
                <td>{{v.pilots}}</td>
            </tr>
        </tbody>
    </table>
</div>

<br/>

<div *ngIf="tableName === 'Starships'" class="tableStarships">
    <h1>All Starships</h1>
    <table class="table table-hover table-bordered">
        <thead class="thead-dark">
            <th>Name</th>
            <th>Model</th>
            <th>Starship Class</th>
            <th>Cost in Credits</th>
            <th>Length</th>
            <th>Max Atmosphering Speed</th>
            <th>Crew</th>
            <th>Passengers</th>
            <th>Pilots</th>
        </thead>
        <tbody>
            <tr *ngFor="let star of starShips">
                <td>{{star.name}}</td>
                <td>{{star.model}}</td>
                <td>{{star.starship_class}}</td>
                <td>{{star.cost_in_credits}}</td>
                <td>{{star.length}}</td>
                <td>{{star.max_atmosphering_speed}}</td>
                <td>{{star.crew}}</td>
                <td>{{star.passengers}}</td>
                <td>{{star.pilots}}</td>
            </tr>
        </tbody>
    </table>
</div>