
<h3>Hi, what would you want to look into?</h3> 

<!-- <h5>(Please enter either: People,
        Planets,
        Films,
        Species,
        Vehicles,
        Starships)</h5> -->

<br/>

<!-- <router-outlet></router-outlet> -->
<app-star-wars-table></app-star-wars-table>





